.card-style:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hover-card {
      transition: all 0.3s ease;
}

.hover-card:hover #view-btn {
      display: flex;
}

.hover-card:hover .card-image {
      margin-top: 0;
      transition: margin-top 0.3s ease;
}

.location {
      background: linear-gradient(0deg, #000 0.1%, rgba(0, 0, 0, 0.00) 100%);
}

.home-slider-place {
      color: #FFF;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}